<%- include("../_header"); -%>
<br>
<br>
<h1 align="center">Duty</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-15">
            <table class="table table-bordered table-hover"> 
                <thead>
                    <tr>
                        <th>ลำดับที่</th>
                        <th>ชื่อ</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data && data.length > 0) { %>
                        <% for (var i = 0; i < data.length; i++) { %>
                            <tr>
                                <td><%= (i + 1) %></td>
                                <td><%= data[i].duty %></td>
                                <td>
                                    <a href="/dutyEdit/<%= data[i].id %>" class="btn btn-info style=width: 80px;">Edit</a>
                                    <a href="/deleteduty/<%= data[i].id %>" class="btn btn-danger">Delete</a> 
                                </td>
                            </tr>
                        <% } %>
                    <% } %> 
                </tbody>
            </table>
            <a href="/duty/add" class="btn btn-primary">Add</a>
            <!-- <a href="/pr" class="btn btn-danger">Back</a> -->
        </div>
    </div>
</div>

<%- include("../_footer"); -%>
