<%- include("../_header"); -%>
<br>
<br>
<body>
    <h1 align="center">Edit</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center">   
            <form action="/Uchecklist/edit/<%= data4 && data4[0] ? data4[0].id : '' %>" method="post" class="w-50">
                <div class="form-group">
                    <label for="devicetype">ประเภทอุปกรณ์ที่แก้ไข</label>
                    <select class="form-control" id="donationlist" name="devicetype">
                        <option value="">กรุณาเลือก</option>
                        <% if (data3) { %>
                            <% for (var i = 0; i < data3.length; i++) { %>
                                <option value="<%= data3[i].id %>" <% if(data4 && data4[0] && data3[i].id==data4[0].donationlist){ %>selected<% } %> ><%= data3[i].name%></option>
                            <% } %>
                        <% } %>
                    </select>
                    
                    <div class="form-group">
                    <label for="devicetype">ชื่อผู้บริจาคที่แก้ไข</label>
                    <select class="form-control" id="person" name="name">
                        <option value="">กรุณาเลือก</option>
                        <% if (data2) { %>
                            <% for (var i = 0; i < data2.length; i++) { %>
                                <option value="<%= data2[i].id %>" <% if(data4 && data4[0] && data2[i].id==data4[0].person){ %>selected<% } %> ><%= data2[i].name %></option>
                            <% } %>
                        <% } %>
                    </select>
                    </div>
                    <div class="form-group">
                        <label for="amount">จำนวนเครื่องที่แก้ไข</label>
                        <input type="text" name="amount" placeholder="จำนวน" class="form-control" value="<%= data4[0].amount %>">
                    </div>
                    <div class="form-group">
                        <label for="checkday">วันที่แก้ไข</label>
                        <input type="date" name="checkday" placeholder="วันที่เช็ค" class="form-control" value="<%= data4[0].checkday %>">
                    </div>
                    <div class="form-group">
                        <label for="status">สถานะที่แก้ไข</label>
                        <input type="text" name="status" placeholder="ดี/ไม่ดี" class="form-control" value="<%= data4[0].status %>">
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-info">Save</button>
                <a href="/Uchecklist/list" class="btn btn-danger">Back</a>
            </form>
        </div>
    </div>
</div>
<%- include("../_footer"); -%>