<%- include("../_header"); -%>
<br>
<br>
<h1 align="center">การบริจาค</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-15">
            
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>ชื่อผู้บริจาค</th>
                        <th>เบอร์โทรศัพท์</th>
                        <th>วันที่บริจาค</th>
                        <th>ประเภทอุปกรณ์</th>
                        <th>แบรนด์</th>
                        <th>รุ่น</th>

                    </tr>
                </thead>
                <tbody>
                    <% if (data && data.length > 0) { %>
                        <% for (var i = 0; i < data.length; i++) { %>
                            <tr>
                                <td><%= (i + 1) %></td>
                                <td><%= data[i].person %></td>
                                <td><%= data[i].phone %></td>
                                <td><%= data[i].donationday %></td>
                                <td><%= data[i].device %></td>
                                <td><%= data[i].brand %></td>
                                <td><%= data[i].model %></td>
                                <td>
                                    <a href="/Udonation2/edit/<%= data[i].id %>" class="btn btn-info style=width: 80px;">Edit</a> 
                                    <a href="/Udonation2/delete/<%= data[i].id %>" class="btn btn-danger">Delete</a> 
                            
                            </tr>
                        <% } %>
                    <% } %> 
                </tbody>
            </table>
            <a href="/Udonation2/add" class="btn btn-primary">Add</a>
            <br>
<br>
<%- include("../_footer"); -%>