<%- include("_header"); -%>
<br>
<br>
<h1 align="center">Edit Donation</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center">
            <form action="/Udonation2/edit/<%= data3.id %>" method="post" class="w-50">

                <div class="form-group">
                    <label for="donation">ชื่อผู้บริจาค</label>
                    <select class="form-control" name="donation">
                        <option value="">กรุณาเลือก</option>
                        <% if (data4) { %>
                            <% for (var i = 0; i < data4.length; i++) { %>
                                <option value="<%= data4[i].id %>" <% if (data3.donation === data4[i].id) { %>selected<% } %>><%= data4[i].name %></option>
                            <% } %>
                        <% } %> 
                    </select>
                </div>
                <div class="form-group">
                    <label for="donationlist">ประเภทอุปกรณ์</label>
                    <select class="form-control" name="donationlist">
                        <option value="">กรุณาเลือก</option>
                        <% if (data5) { %>
                            <% for (var i = 0; i < data5.length; i++) { %>
                                <option value="<%= data5[i].id %>" <% if (data3.donationlist === data5[i].id) { %>selected<% } %>><%= data5[i].name %></option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
                <br>
                
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="/Udonation2/list" class="btn btn-primary">Back</a>
            </form>
        </div>
    </div>
</div>

<%- include("../_footer"); -%>
