<%- include("../_header"); -%>
<br>
<br>
<h1 align="center">เพิ่มบุคคล</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center">
            <form action="/person/add" method="post" class="w-50">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" Name="name" value="<%= data.name %>">
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" id="phone" Name="phone" value="<%= data.phone %>">
                </div>
                <div class="form-group">
                    <label for="lineid">LineID</label>
                    <input type="text" class="form-control" id="lineid" Name="lineid" value="<%= data.lineid %>">
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <input type="text" class="form-control" id="gender" Name="gender" value="<%= data.gender %>">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">บันทึก</button>
                <a href="/person/list" class="btn btn-primary">ย้อนกลับ</a>
            </form>
        </div>
    </div>
</div>

<%- include("../_footer"); -%>
