<%- include("../_header"); -%>
<body>
    <h1 align="center">แก้ไขข้อมูลบุคคล</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center">   
            <form method="post" action="/person/edit/<%= data.id %>" class="w-50">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" Name="name" value="<%= data.name %>">
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" id="phone" Name="phone" value="0<%= data.phone %>">
                </div>
                <div class="form-group">
                    <label for="lineid">LineID</label>
                    <input type="text" class="form-control" id="lineid" Name="lineid" value="<%= data.lineid %>">
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <input type="text" class="form-control" id="gender" Name="gender" value="<%= data.gender %>">
                </div>
                <br>
                <button type="submit" class="btn btn-info">บันทึก</button>
                <a href="/person/list" class="btn btn-danger">ย้อนกลับ</a>
            </form>
        </div>
    </div>
</div>
<%- include("../_footer"); -%>
