<%- include("../_header"); -%>
<br>
<br>
<h1 align="center">Donation</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>donationperson</th>
                        <th>phone</th>
                        <th>donationday</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data && data.length > 0) { %>
                        <% for (var i = 0; i < data.length; i++) { %>
                            <tr>
                                <td><%= (i + 1) %></td>
                                <td><%= data[i].donationperson %></td>
                                <td><%= data[i].phone %></td>
                                <td><%= data[i].donationday %></td>
                                <td>
                                    <a href="/Udonation/edit/<%= data[i].id %>" class="btn btn-info styly=width: 80px">Edit</a>
                                    <a href="/Udonation/delete/<%= data[i].id %>" class="btn btn-danger">Delete</a> 
                                </td>
                            </tr>
                        <% } %>
                    <% } %> 
                </tbody>
            </table>
            <a href="/Udonation/add" class="btn btn-primary">Add</a>
        </div>
    </div>
</div>

<h1 align="center">Donation</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>donationperson</th>
                        <th>phone</th>
                        <th>donationday</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data && data.length > 0) { %>
                        <% for (var i = 0; i < data.length; i++) { %>
                            <tr>
                                <td><%= (i + 1) %></td>
                                <td><%= data[i].donationperson %></td>
                                <td><%= data[i].phone %></td>
                                <td><%= data[i].donationday %></td>
                                </td>
                            </tr>
                        <% } %>
                    <% } %> 
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include("../_footer"); -%>

