<%- include("../_header"); -%>
<br>
<br>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <form action="/Udonation/add" method="post">
                <div class="form-group">            
                    <label for="donationperson">ชื่อ - นามสกุล:</label>
                    <input type='text' name='donationperson' placeholder='personname' class='form-control'>
                </div>
                <div class="form-group">            
                    <label for="phone">เบอร์โทร:</label>
                    <input type='text' name='phone' placeholder='phone' class='form-control'>
                </div>
                <div class="form-group">            
                    <label for="donationday">วันที่:</label>
                    <input type='date' name='donationday' placeholder='donationday' class='form-control'>
                </div>
                <br>
                <a href="/Udonation/list" class="btn btn-danger">ย้อนกลับ</a>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>
<%- include("../_footer"); -%>