<%- include("../_header"); -%>
<br>
<br>
<body>
    <h1 align="center"> Edit</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center">   
            <form method="post" action="/mediaEdit/<%= data.id %>" class="w-50">
                <div class="form-group">
                    <label for="name">name:</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%= data.name %>" required>
                </div>
                <button type="submit" class="btn btn-info">Save</button>
                <a href="/media/list" class="btn btn-danger">Back</a>
            </form>
        </div>
    </div>
</div>
<%- include("../_footer"); -%>