<%- include("../_header"); -%>
<br>
<br>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <form action="/listofapprovedpeople/edit/<%= data2 && data2[0] ? data2[0].id : '' %>" method="post">
                <div class="form-group">
                    <label for="person">แก้ไขผู้มีสิทธิ์อนุมัติ</label>
                    <select class="form-control" name="person">
                        <option value="">กรุณาเลือก</option>
                        <% if (data1) { %>
                            <% for (var i = 0; i < data1.length; i++) { %>
                                <option value="<%= data1[i].id %>" <% if(data2 && data2[0] && data1[i].id==data2[0].person){ %>selected<% } %> ><%= data1[i].name %></option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
                <br>
                <a href="/listofapprovedpeople/list" class="btn btn-danger">ย้อนกลับ</a>
                <button type="submit" class="btn btn-primary">แก้ไข</button>
            </form>
        </div>
    </div>
</div>
<%- include("../_footer"); -%>
