<%- include("_header"); -%>
<br>
<br>
<br>
<h1 align="center">Edit</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <form action="/deliveryperson/save/<%= data3 && data3[0] ? data3[0].id : '' %>" method="post" class="w-50">
                <div class="form-group">
                    <br>
                <div class="form-group">
                    <label for="prepare">Donationplace</label>
                    <select class="form-control" id="prepare" name="donationplace">
                        <option value="">กรุณาเลือก</option>
                        <% if (data1) { %>
                            <% for (var i = 0; i < data1.length; i++) { %>
                                <option value="<%= data1[i].id %>" <% if(data3 && data3[0] && data1[i].id==data3[0].prepare){ %>selected<% } %> ><%= data1[i].donationplace %></option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label for="person">Name</label>
                   <select class="form-control" id="person" name="name">
                       <option value="">กรุณาเลือก</option>
                       <% if (data2) { %>
                           <% for (var i = 0; i < data2.length; i++) { %>
                               <option value="<%= data2[i].id %>" <% if(data3 && data3[0] && data2[i].id==data3[0].person){ %>selected<% } %> ><%= data2[i].name %></option>
                           <% } %>
                       <% } %>
                   </select>
               </div>
                <br>
                <button type="submit" class="btn btn-primary">Update</button>
                <a href="/deliveryperson/list" class="btn btn-danger">ย้อนกลับ</a>
            </form>
        </div>
    </div>
</div>
<%- include("_footer"); -%>
