<%- include("_header"); -%>
<br>
<br>
<h1 align="center">รายชื่อคนไปบริจาค</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-15 ">
            <table class="table table-bordered table-hover ">
                <thead>
                    <tr>
                        <th>ลำดับ</th>
                        <th>craftcom</th>
                        <th>สถานที่</th>
                        <th>วันบริจาค</th>
                        <th>การเดินทาง</th>
                        <th>ชื่อ</th>
                        <th>เบอร์</th>
                        <th>ไอดี ไลท์</th>
                        <th>เพศ</th>
                        <th>เพิมเติม</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data && data.length > 0) { %>
                        <% for (var i = 0; i < data.length; i++) { %>
                            <tr>
                                <td><%= (i + 1) %></td>                               
                                <td><%= data[i].craftcom %></td>
                                <td><%= data[i].donationplace %></td>
                                <td><%= data[i].donationday %></td>
                                <td><%= data[i].travel %></td>                               
                                <td><%= data[i].name %></td>
                                <td><%= data[i].phone %></td>
                                <td><%= data[i].lineid %></td>
                                <td><%= data[i].gender %></td>
                                <td>
                                    <a href="/deliveryperson/edit/<%= data[i].id %>" class="btn btn-info style=width: 80px;">Edit</a>
                                    <a href="/deliveryperson/del/<%= data[i].id %>" class="btn btn-danger">Delete</a> 
                                </td>
                            </tr>
                        <% } %>
                    <% } %> 
                </tbody>
            </table>
            <a href="/deliveryperson/add/" class="btn btn-primary">Add</a>
        </div>
    </div> 
</div>

<%- include("_footer"); -%>