<%- include("_header"); -%>
<br>
<br>
<br>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <!-- <%=JSON.stringify(data1) %>
            <%=JSON.stringify(data1) %> -->
            <form action="/deliveryperson/add" method="post">
                <div class="form-group">
                    <br>
                    <label for="donationplace"> Donationplace </label>
                    <select class="form-control" name="donationplace">
                        <option> กรุณาเลือก </option>
                        <% if(data1){ %>
                            <% for(var i=0;i<data1.length;i++){ %>
                                <option value="<%= data1[i].id %>"> <%= data1[i].donationplace %> </option>
                            <% } %>
                        <% } %>        
                    </select>
                </div>
                <br>
                <label for="name"> Name </label>
                <select class="form-control" name="name">
                    <option> กรุณาเลือก </option>
                    <% if(data2){ %>
                        <% for(var i=0;i<data2.length;i++){ %>
                            <option value="<%= data2[i].id %>"> <%= data2[i].name %> </option>
                        <% } %>
                    <% } %>        
                </select>
                <br>
                <button type="submit" class="btn btn-primary">Add</button>
                <a href="/deliveryperson/list" class="btn btn-danger">ย้อนกลับ</a>
            </form>
        </div>
    </div>
</div>
<%- include("_footer"); -%>