<%- include("_header"); -%>
<br>
<br>
<h1 align="center">ที่บริจาค</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-15">
            
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>place</th>
                        <th>address</th>
                        <th>contactperson</th>
                        <th>phone</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    <% if (data && data.length > 0) { %>
                        <% for (var i = 0; i < data.length; i++) { %>
                            <tr>
                                <td><%= (i + 1) %></td>
                                <td><%= data[i].place %></td>
                                <td><%= data[i].address %></td>
                                <td><%= data[i].contactperson %></td>
                                <td><%= data[i].phone %></td>
                                <td>
                                    <a href="/donatedplace/edit/<%= data[i].id %>" class="btn btn-info style=width: 80px;">Edit</a>
                                    <a href="/donatedplace/delete/<%= data[i].id %>" class="btn btn-danger">Delete</a> 
                                </td>
                            </tr>
                        <% } %>
                    <% } %> 
                </tbody>
            </table>
            <a href="/donatedplace/add" class="btn btn-primary">Add</a>
        </div>
    </div>
</div>

<%- include("_footer"); -%>