<%- include("_header"); -%>
<br>
<br>
<h1 align="center">เบิก</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-15 mx-auto">
            <table class="table table-bordered table-hover text-center">
                <thead>
                    <tr>
                        <th>ลำดับ</th>
                        <th>คนเบิก</th>
                        <th>คนอนุมัติ</th>
                        <th>วันที่</th>
                        <th>ที่บริจาค</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data && data.length > 0) { %>
                        <% for (var i = 0; i < data.length; i++) { %>
                            <tr>
                                <td><%= (i + 1) %></td>
                                <td><%= data[i].picker %></td>
                                <td><%= data[i].approvalperson %></td>
                                <td><%= data[i].withdrawday %></td>
                                <td><%= data[i].donatedplace %></td>
                                <td>
                                    <a href="/withdraw/edit/<%= data[i].id %>" class="btn btn-info" style="width: 80px;">แก้ไข</a>
                                    <a href="/withdraw/delete/<%= data[i].id %>" class="btn btn-danger">ลบ</a> 
                                </td>
                            </tr>
                        <% } %>
                    <% } %> 
                </tbody>
            </table>
            <a href="/withdraw/add" class="btn btn-primary">เพิ่ม</a>
            <!-- <a href="/pr" class="btn btn-danger">Back</a> -- >
        </div>
    </div>
</div>

<%- include("_footer"); -%>