<%- include("_header"); -%>
<br>
<br>
<h1 align="center">Add</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center">
            <form action="/withdraw/add" method="post" class="w-50">
                <div class="form-group">
                    <div class="form-group">
                        <label for="picker">คนเบิก:</label>
                        <select class="form-control" id="picker" name="picker">
                            <option value="">กรุณาเลือก</option>
                        <% if (data1) { %>
                            <% for (var i = 0; i < data1.length; i++) { %>
                                <option value="<%= data1[i].id %>" <% if(data4 && data4[0] && data1[i].id==data4[0].picker){ %>selected<% } %> ><%= data1[i].name %></option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="approvalperson">คนอนุมัติ:</label>
                        <select class="form-control" id="approvalperson" name="approvalperson">
                            <option value="">กรุณาเลือก</option>
                            <% if (data2) { %>
                                <% for (var i = 0; i < data2.length; i++) { %>
                                    <option value="<%= data2[i].id %>" <% if(data4 && data4[0] && data2[i].id==data4[0].approvalperson){ %>selected<% } %> ><%= data2[i].person %></option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="withdrawday">วันที่:</label>
                        <input type="date" class="form-control" id="withdrawday" name="withdrawday" value="<%= data4.withdrawday %>" >
                    </div>
                    <div class="form-group">
                        <label for="donatedplace">ที่บริจาค:</label>
                        <select class="form-control" id="donatedplace" name="donatedplace">
                            <option value="">กรุณาเลือก</option>
                            <% if (data3) { %>
                                <% for (var i = 0; i < data3.length; i++) { %>
                                    <option value="<%= data3[i].id %>" <% if(data4 && data4[0] && data3[i].id==data4[0].donatedplace){ %>selected<% } %> ><%= data3[i].place %></option>
                                <% } %>
                            <% } %>
                        </select>
                    </div>
                <br>
                <button type="submit" class="btn btn-primary">บันทึก</button>
                <a href="/withdraw/list" class="btn btn-primary">กลับ</a>
            </form>
        </div>
    </div>
</div>

<%- include("_footer"); -%>