<%- include("_header"); -%>
<br>
<br>
<body>
    <h1 align="center">Edit</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center">   
            <form action="/withdraw/edit/<%= data4 && data4[0] ? data4[0].id : '' %>" method="post">


                <div class="form-group">
                    <label for="picker">คนเบิก</label>
                    <select class="form-control" name="picker">
                        <option value="">กรุณาเลือก</option>
                        <% if (data1) { %>
                            <% for (var i = 0; i < data1.length; i++) { %>
                                <option value="<%= data1[i].id %>" <% if(data4 && data4[0] && data1[i].id==data4[0].picker){ %>selected<% } %> ><%= data1[i].name %></option>
                            <% } %>
                        <% } %>
                    </select>
                    <div class="form-group">
                        <label for="approvalperson">คนอนุมัติ</label>
                        <select class="form-control" name="approvalperson">
                            <option value="">กรุณาเลือก</option>
                            <% if (data2) { %>
                                <% for (var i = 0; i < data2.length; i++) { %>
                                    <option value="<%= data2[i].id %>" <% if(data4 && data4[0] && data2[i].id==data4[0].approvalperson){ %>selected<% } %> ><%= data2[i].person %></option>
                                <% } %>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="withdrawday">วันที่:</label>
                        <input type="date" class="form-control" id="withdrawday" name="withdrawday" value="<%= data4 && data4[0] ? data4[0].withdrawday : '' %>">
                    </div>
                <div class="form-group">
                    <label for="donatedplace">ที่บริจาค</label>
                    <select class="form-control" name="donatedplace">
                        <option value="">กรุณาเลือก</option>
                        <% if (data3) { %>
                            <% for (var i = 0; i < data3.length; i++) { %>
                                <option value="<%= data3[i].id %>" <% if(data4 && data4[0] && data3[i].id==data4[0].donatedplace){ %>selected<% } %> ><%= data3[i].place %></option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
                <br>
                <button type="submit" class="btn btn-info">บันทึก</button>
                <a href="/withdraw/list" class="btn btn-danger">กลับ</a>
            </form>
        </div>
    </div>
</div>
<%- include("_footer"); -%>