<%- include("../_header"); -%>
<br>
<br>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <form action="/project/edit/<%= data[0].id %>" method="post">
                <div class="form-group">
                    <label for="projectname">ชื่อโปรเจค</label>
                    <input type="text" name="projectname" placeholder="กรุณาใส่ชื่อโปรเจค" class="form-control" value="<%= data[0].projectname %>">
                </div>
                <br>
            
                <a href="/project/list" class="btn btn-danger">ย้อนกลับ</a>
                <button type="submit" class="btn btn-primary">แก้ไข</button>
            </form>
            
        </div>
    </div>
</div>
<%- include("../_footer"); -%>
