<%- include("../_header"); -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ผู้มีสิทธิ์อนุมัติ</title>
</head>
<body>
    <%- include("../_header"); -%>
    <br>
    <br>
    <h1 align="center">ผู้มีสิทธิ์อนุมัติ</h1>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ลำดับ</th>
                            <th>ชื่อโปรเจค</th>
                            <th>ลบ/แก้ไข</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (data && data.length > 0) { %>
                            <% for (var i = 0; i < data.length; i++) { %>
                                <tr>
                                    <td><%= (i + 1) %></td>
                                    <td><%= data[i].projectname %></td>
                                    <td>
                                        <a href="/project/edit/<%= data[i].id %>" class="btn btn-info">Edit</a>
                                        <a href="/project/delete/<%= data[i].id %>" class="btn btn-danger">Delete</a> 
                                    </td>
                                </tr>
                            <% } %>
                        <% } %> 
                    </tbody>
                </table>
                <a href="/project/add" class="btn btn-primary">Add</a>
            </div>
        </div>
    </div>

<%- include("../_footer"); -%>