<%- include("../_header"); -%>
<br>
<br>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <form action="/project/Add" method="post">

                <div class="form-group">
                    <label for="projectname">ชื่อโครงการ</label>
                    <input type="text" class="form-control" name="projectname" placeholder="กรุณากรอกชื่อโครงการ">
                </div>
                <br>
                <a href="/project/List/" class="btn btn-danger">ย้อนกลับ</a>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>
<%- include("../_footer"); -%>
