<%- include("../_header"); -%>
<h3 align="center"> รายการเบิก </h3>
<div class="container">
    <div class="row mt-5">  
        <div class="col-md-9">
            <div>
                <a href="/withdrawlist/add" class="btn btn-primary">Add</a>
                <br>
                <br>
            </div>
        </div>
        <div class="col-md-15">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ลำดับ</th>
                        <th>ประเภท</th>
                        <th>รุ่น/ยี่ห้อ</th>
                        <th>จำนวน</th>
                        <th>คนเบิก</th>
                        <th>อนุมัติ</th>
                        <th>วันที่</th>
                        <th>Action</th>

                    </tr>
                </thead>
                    <% if (data) { %>
                        <% for (var i = 0; i < data.length; i++) { %>
                            <tr>
                                <td><%= (i + 1) %></td>
                                <td><%= data[i].stocklist %></td>
                                <td><%= data[i].brand %></td>
                                <td><%= data[i].amount %></td>
                                <td><%= data[i].withdraw %></td>
                                <td><%= data[i].approve %></td>
                                <td><%= data[i].date %></td>
                                <td>
                                    <a href="/withdrawlist/edit/<%= data[i].id %>" class="btn btn-info style=width: 80px;">แก้ไข</a>
                                    <a href="/withdrawlist/delete/<%= data[i].id %>" class="btn btn-danger">ลบข้อมูล</a> 
                                </td>
                            </tr>
                        <% } %>
                    <% } %> 
            </table>
        </div>
    </div>
</div
<%- include("../_footer"); -%>