<%- include("../_header"); -%>
<br>
<br>
<body>
    <h1 align="center">แก้ไขข้อมูลการเบิก</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center">   
            <form method="post" action='/withdrawlist/edit/<%= data5 && data5[0] ? data5[0].id : '' %>' class="w-50">
                <div class="form-group">
                    <label for="stocklist">ประเภท</label>
                    <select class="form-control" name="stocklist">
                        <option value="">กรุณาเลือก</option>
                        <% if (data1) { %>
                            <% for (var i = 0; i < data1.length; i++) { %>
                                <option value="<%= data1[i].id %>"<% if(data5 && data5[0] && data1[i].id==data5[0].stocklist){ %>selected<% } %> ><%= data1[i].name %></option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label for="brand">รุ่น/ยี่ห้อ</label>
                    <select class="form-control" name="brand">
                        <option value="">กรุณาเลือก</option>
                        <% if (data3) { %>
                            <% for (var i = 0; i < data3.length; i++) { %>
                                <option value="<%= data3[i].id %>"<% if(data5 && data5[0] && data3[i].id==data5[0].brand){ %>selected<% } %>><%= data3[i].brand %></option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label for="amount">จำนวน</label>
                    <input type="text" name="amount" placeholder="จำนวน" class="form-control" value=<%= data5 && data5[0] ? data5[0].amount : '' %>>
                </div>
                <br>
                <div class="form-group">
                    <label for="withdraw">คนเบิก</label>
                    <select class="form-control" name="withdraw">
                        <option value="">กรุณาเลือก</option>
                        <% if (data2) { %>
                            <% for (var i = 0; i < data2.length; i++) { %>
                                <option value="<%= data2[i].id %>"<% if(data5 && data5[0] && data2[i].id==data5[0].withdraw){ %>selected<% } %>><%= data2[i].name %></option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label for="approve">คนอนุมัติ</label>
                    <select class="form-control" name="approve">
                        <option value="">กรุณาเลือก</option>
                        <% if (data4) { %>
                            <% for (var i = 0; i < data4.length; i++) { %>
                                <option value="<%= data4[i].id %>"<% if(data5 && data5[0] && data4[i].id==data5[0].approve){ %>selected<% } %>><%= data4[i].person %></option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label for="date">วันที่เบิก</label>
                    <input type="date" name="date" class="form-control">
                </div>
                <br>
                <button type="submit" class="btn btn-info">บันทึก</button>
                <a href="/withdrawlist/list" class="btn btn-danger">ย้อนกลับ</a>
            </form>
        </div>
    </div>
</div>
<%- include("../_footer"); -%>