<%- include("../_header"); -%>
<br>
<br>
<h1 align="center">เพิ่มข้อมูลการเบิก</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center">
            <form action="/withdrawlist/add" method="post" class="w-50">
                <div class="form-group">
                    <label for="type">ประเภท</label>
                    <select class="form-control" name="type">
                        <option value="type">กรุณาเลือก</option>
                        <% if (data1) { %>
                            <% for (var i = 0; i < data1.length; i++) { %>
                                <option value="<%= data1[i].id %>"><%= data1[i].name %></option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label for="brand">รุ่น/ยี่ห้อ</label>
                    <select class="form-control" name="brand">
                        <option value="type">กรุณาเลือก</option>
                        <% if (data3) { %>
                            <% for (var i = 0; i < data3.length; i++) { %>
                                <option value="<%= data3[i].id %>"><%= data3[i].brand %></option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label for="amount">จำนวน</label>
                    <input type="text" name="amount" placeholder="จำนวน" class="form-control">
                </div>
                <br>
                <div class="form-group">
                    <label for="withdraw">คนเบิก</label>
                    <select class="form-control" name="withdraw">
                        <option value="name">กรุณาเลือก</option>
                        <% if (data2) { %>
                            <% for (var i = 0; i < data2.length; i++) { %>
                                <option value="<%= data2[i].id %>"><%= data2[i].name %></option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label for="approve">คนอนุมัติ</label>
                    <select class="form-control" name="approve">
                        <option value="approve">กรุณาเลือก</option>
                        <% if (data4) { %>
                            <% for (var i = 0; i < data4.length; i++) { %>
                                <option value="<%= data4[i].id %>"><%= data4[i].person%></option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label for="date">วันที่เบิก</label>
                    <input type="date" name="date" class="form-control">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">บันทึก</button>
                <a href="/withdrawlist/list" class="btn btn-danger">ย้อนกลับ</a>
            </form>
        </div>
    </div>
</div>
<%- include("../_footer"); -%>