<%- include("../_header"); -%>
<br>
<br>
<h1 align="center">ที่รับบริจาค</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-15">
            
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>donationperson</th>
                        <th>devicetype</th>
                        <th>brand</th>
                        <th>model</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    <% if (data && data.length > 0) { %>
                        <% for (var i = 0; i < data.length; i++) { %>
                            <tr>
                                <td><%= (i + 1) %></td>
                                <td><%= data[i].name %></td>
                                <td><%= data[i].dename %></td>
                                <td><%= data[i].brand %></td>
                                <td><%= data[i].model %></td>
                                <td>
                                    <a href="/UdonationList/edit/<%= data[i].id %>" class="btn btn-info style=width: 80px;">Edit</a>
                                    <a href="/UdonationList/delete/<%= data[i].id %>" class="btn btn-danger">Delete</a> 
                                </td>
                            </tr>
                        <% } %>
                    <% } %> 
                </tbody>
            </table>
            <a href="/UdonationList/add" class="btn btn-primary">Add</a>
        </div>
    </div>
</div>


<h1 align="center">ที่รับบริจาค</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-15">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>donationperson</th>
                        <th>devicetype</th>
                        <th>brand</th>
                        <th>model</th>
                    </tr9>
                </thead>
                <tbody>
                    <% if (data && data.length > 0) { %>
                        <% for (var i = 0; i < data.length; i++) { %>
                            <tr>
                                <td><%= (i + 1) %></td>
                                <td><%= data[i].name %></td>
                                <td><%= data[i].dename %></td>
                                <td><%= data[i].brand %></td>
                                <td><%= data[i].model %></td>
                                
                            </tr>
                        <% } %>
                    <% } %> 
                </tbody>
            </table>
            <a href="#" href="/UdonationList/add" class="btn btn-primary">Add</a>
        </div>
    </div>
</div>


<%- include("../_footer"); -%>