<%- include("../_header"); -%>
<br>
<br>
<body>
    <h1 align="center">Edit</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center">   
            <form method="post" action="/UdonationList/edit/<%= data3 && data3[0] ? data3[0].id : '' %>" class="w-50">
                <div class="form-group">
                    <label for="vehicle_type">donationperson :</label>
                    <select class="form-control" id="donationperson" name="donationperson">
                        <option value="">กรุณาเลือก</option>
                        <% if (data1) { %>
                            <% for (var i = 0; i < data1.length; i++) { %>
                                <option value="<%= data1[i].id %>" <% if(data3 && data3[0] && data1[i].id==data3[0].donationperson){ %>selected<% } %> ><%= data1[i].name %></option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="vehicle_type">devicetype :</label>
                    <select class="form-control" id="devicetype" name="devicetype">
                        <option value="">กรุณาเลือก</option>
                        <% if (data2) { %>
                            <% for (var i = 0; i < data2.length; i++) { %>
                                <option value="<%= data2[i].id %>" <% if(data3 && data3[0] && data2[i].id==data3[0].devicetype){ %>selected<% } %> ><%= data2[i].name %></option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Address17"> Brand </label>
                    <input type="text" id="brand" name="brand" value="<%= data3 && data3[0] ? data3[0].brand : '' %>" class="form-control">
                </div>
                <div class="form-group">
                    <label for="Address17"> Model </label>
                    <input type="text" id="model" name="model" value="<%= data3 && data3[0] ? data3[0].model : '' %>" class="form-control">
                </div>
                <br>
                <button type="submit" class="btn btn-info">Save</button>
                <a href="/UdonationList/list" class="btn btn-danger">Back</a>

            </form>
        </div>
    </div>
</div>
<%- include("../_footer"); -%>