<%- include("../_header") %>
<h3 align="center">Devicetype Edit</h3>
    <div class="container mt-5">
        <div class="row justify-content-center">
        <div class="col-md-3">
        <form action="/devicetype/Edit/<%= data.id %>"method="post">
        <div class="form-group">
            <input type="text" name="name" placeholder="Name" value="<%= data.name %>" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Save Update</button>
        <a href="/devicetype/list" class="btn btn-danger">ย้อนกลับ</a>
<%- include("../_footer") %>