<%- include("../_header") %>
<h3 align="center">Devicetype ADD</h3>
    <div class="container mt-5">
        <div class="row justify-content-center">
        <div class="col-md-3">
        <form action="/devicetype/add"method="post">
        <div class="form-group">
            <input type="text" name="name" placeholder="name" class="form-control">
        </div>
    <button type="submit" class="btn btn-primary">Add new</button>
    <a href="/devicetype/list" class="btn btn-danger">ย้อนกลับ</a>
<%- include("../_footer") %>