<%- include("../_header") %>
<div class="container mt-4">
    <div class="text-center mb-4">
        <h1>ประเภทอุปกรณ์</h1>
    </div>
    <div class="row justify-content-center">
        <div class="row justify-content-center">
        <div class="col-md-5">
            <a href="/devicetype/add" class="btn btn-primary">Add</a>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(data){ %>
                            <% for (var i=0; i<data.length; i++){ %>
                                <tr>
                                    <th scope="row"><%= (i+1) %></th>
                                    <td><%= data[i].name %></td>
                                    <td>
                                        <a href="/devicetype/delete/<%= data[i].id %>" class="btn btn-danger btn-sm">Delete</a>
                                        <a href="/devicetype/edit/<%= data[i].id %>" class="btn btn-info btn-sm">Edit</a>
                                    </td>
                                </tr>
                            <% } %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<%- include("../_footer") %>