<%- include("../_header"); -%>
<br>
<br>
<h1 align="center">Add</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center">
            <form action="/donatedplace/add" method="post" class="w-50">
                <div class="form-group">
                    <label for="place">place:</label>
                    <input type="text" class="form-control" id="place" Name="place" value="<%= data.place %>" required>
                </div>
                <div class="form-group">
                    <label for="address">address:</label>
                    <input type="text" class="form-control" id="address" Name="address" value="<%= data.address %>" required>
                </div>
                <div class="form-group">
                    <label for="contactperson">contactperson:</label>
                    <input type="text" class="form-control" id="contactperson" Name="contactperson" value="<%= data.contactperson %>" required>
                </div>
                <div class="form-group">
                    <label for="phone">phone:</label>
                    <input type="text" class="form-control" id="phone" Name="phone" value="<%= data.phone %>" required>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="/donatedplace/list" class="btn btn-primary">Back</a>
            </form>
        </div>
    </div>
</div>

<%- include("../_footer"); -%>