<%- include("../_header") %>
<div class="container mt-4">
    <div class="text-center mb-4">
        <h1>บุคคล</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <a href="/person/add" class="btn btn-primary">Add</a>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>LineID</th>
                        <th>Gender</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    <% if (data && data.length > 0) { %>
                        <% for (var i = 0; i < data.length; i++) { %>
                            <tr>
                                <td><%= (i + 1) %></td>
                                <td><%= data[i].name %></td>
                                <td><%= data[i].phone %></td>
                                <td><%= data[i].lineid %></td>
                                <td><%= data[i].gender %></td>
                                <td>
                                    <a href="/person/delete/<%= data[i].id %>" class="btn btn-danger btn-sm">Delete</a> 
                                    <a href="/person/edit/<%= data[i].id %>" class="btn btn-danger btn-sm">Edit</a>
                                </td>
                            </tr>
                        <% } %>
                    <% } %> 
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include("../_footer"); -%>