<%- include("../_header"); -%>
<h3 align="center">Report Add</h3>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <form action="/report/add" method="post">
                <div class="form-group">
                <label for="name">Type</label>
                <select class="form-control" name="type">
                    <option> กรุณาเลือก </option>
                    <% if(data1){ %>
                        <% for(var i=0;i<data1.length;i++){ %>
                            <option value="<%= data1[i].id %>"> <%= data1[i].name %> </option>
                        <% } %>
                    <% } %>        
                </select>
                <div class="form-group">
                    <label for="brandModel">Brand/Model</label>
                    <input type="text" name="brandModel" placeholder="Brand/Model" class="form-control">        
                </div>
                <div class="form-group">
                    <label for="problem">Problem</label>
                    <input type="text" name="problem" placeholder="Problem" class="form-control">        
                </div>
                <div class="form-group">
                    <label for="reportday">Reportday</label>
                    <input type="date" name="reportday" placeholder="Reportday" class="form-control">        
                </div>
                <div class="form-group">
                    <label for="reportrecipient">Reportrecipient</label>
                    <input type="text" name="reportrecipient" placeholder="Reportrecipient" class="form-control">        
                </div>
                <div class="form-group">
                <label for="place">Place</label>
                <select class="form-control" name="place">
                    <option> กรุณาเลือก </option>
                    <% if(data2){ %>
                        <% for(var i=0;i<data2.length;i++){ %>
                            <option value="<%= data2[i].id %>"> <%= data2[i].place %> </option>
                        <% } %>
                    <% } %>        
                </select>
                <div class="form-group">
                <label for="name">Person</label>
                <select class="form-control" name="person">
                    <option> กรุณาเลือก </option>
                    <% if(data3){ %>
                        <% for(var i=0;i<data3.length;i++){ %>
                            <option value="<%= data3[i].id %>"> <%= data3[i].name %> </option>
                        <% } %>
                    <% } %>        
                </select>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" name="phone" placeholder="Phone" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="/report/list" class="btn btn-danger">ย้อนกลับ</a>
            </form>
        </div>
    </div>
</div>
</div>
<%- include("../_footer"); -%>