<%- include("../_header") %>
<div class="container mt-4">
    <div class="text-center mb-4">
        <h1>รับแจ้ง</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-15">
            <a href="/report/add" class="btn btn-primary">Add</a>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Type</th>
                            <th scope="col">Brand/Model</th>
                            <th scope="col">Problem</th>
                            <th scope="col">Reportday</th>
                            <th scope="col">Reportrecipient</th>
                            <th scope="col">Place</th>
                            <th scope="col">Person</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(data){ %>
                            <% for (var i=0; i<data.length; i++){ %>
                                <tr>
                                    <th scope="row"><%= (i+1) %></th>
                                    <td><%= data[i].Type %></td>
                                    <td><%= data[i].BrandModel %></td>
                                    <td><%= data[i].Problem %></td>
                                    <td><%= data[i].Reportday %></td>
                                    <td><%= data[i].Reportrecipient %></td>
                                    <td><%= data[i].Place %></td>
                                    <td><%= data[i].Person %></td>
                                    <td><%= data[i].Phone %></td>
                                    <td>
                                        <a href="/report/delete/<%= data[i].id %>" class="btn btn-danger btn-sm">Delete</a>
                                        <a href="/report/edit/<%= data[i].id %>" class="btn btn-info btn-sm">Edit</a>
                                    </td>
                                </tr>
                            <% } %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<%- include("../_footer") %>