<%- include("../_header"); -%>
<br>
<br>
<body>
    <h1 align="center">Add</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center">   
            <form method="post" action="/donation/add" class="w-50">
                <div class="form-group">
                    <label for="vehicle_type">donationperson :</label>
                    <select class="form-control" name="donationperson">
                        <option value="">กรุณาเลือก</option>
                        <% if (data1) { %>
                            <% for (var i = 0; i < data1.length; i++) { %>
                                <option value="<%= data1[i].id %>"><%= data1[i].name %></option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="vehicle_type">devicetype :</label>
                    <select class="form-control" name="devicetype">
                        <option value="">กรุณาเลือก</option>
                        <% if (data2) { %>
                            <% for (var i = 0; i < data2.length; i++) { %>
                                <option value="<%= data2[i].id %>"><%= data2[i].name %></option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="brand">brand:</label>
                    <input type="text" class="form-control" id="brand" Name="brand" value="<%= data.brand %>" >
                </div>
                <div class="form-group">
                    <label for="model">amount:</label>
                    <input type="text" class="form-control" id="model" Name="model" value="<%= data.model %>">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Add</button>
                <a href="/donation/list" class="btn btn-primary">Back</a>
            </form>
        </div>
    </div>
</div>
<%- include("../_footer"); -%>