<%- include("../_header"); -%>
<br>
<br>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <form action="/donation/edit/<%= data[0].id %>"method="post">
            <div class="form-group">
                <label for="donationperson">donationperson</label>
                <input type="text" id="donationperson" name="donationperson" value="<%= data[0].donationperson %>" class="form-control">
            </div>
            <div class="form-group">
                <label for="phone">phone</label>
                <input type="text" id="phone" name="phone" value="<%= data[0].phone %>" class="form-control">
            </div>
            <div class="form-group">
                <label for="donationday">donationday</label>
                <input type="date" id="donationday" name="donationday" value="<%= data[0].donationday %>" class="form-control">
            </div>
                <br>
                <a href="/donation/list" class="btn btn-danger">ย้อนกลับ</a>
                <button type="submit" class="btn btn-primary">save</button>
            </form>
        </div>
    </div>
</div>
<%- include("../_footer"); -%>
