<%- include("../_header"); -%>
<br>
<br>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <form action="/room/add" method="post">
                <div class="form-group">
                    <label for="roomname">ชื่อห้อง</label>
                    <input type="text" name="roomname" placeholder="Roomname" class="form-control">
                </div>
                <br>
                <a href="/room/List" class="btn btn-danger">ย้อนกลับ</a>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>
<%- include("../_footer"); -%>