<%- include("../_header"); -%>
<br>
<br>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <form action="/room/edit/<%= data1[0].id %>" method="post">
                <div class="form-group">
                    <label for="roomname">ชื่อห้อง</label>
                    <input type="text" name="roomname" placeholder="กรุณาใส่ชื่อห้อง" class="form-control" value="<%= data1[0].roomname %>">
                </div>
                <br>
            
                <a href="/room/list" class="btn btn-danger">ย้อนกลับ</a>
                <button type="submit" class="btn btn-primary">แก้ไข</button>
            </form>
            
        </div>
    </div>
</div>
<%- include("../_footer"); -%>